# Docker
Dockerfile.*.cache
*.log

## PID 파일
*.pid
## macOS에서 생성하는 메타데이터 파일
.DS_Store
## 환경 변수 파일 (비밀 정보를 포함할 수 있습니다)
.env
## Vim 스왑 파일
*.swp
## JetBrains IDE에서 생성하는 프로젝트 설정 디렉터리
.idea/


# Docker Compose 임시 파일
*.override.yml

# Docker Volume
*.volume

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/